boto3
faiss-cpu
google-cloud-vision
huggingface-hub
langchain
langchain-community
langchain-core
langchain-openai
numpy
pandas
python-dotenv
requests
sentence-transformers
streamlit
tensorflow
tokenizers
torch
torchaudio
torchvision
transformers
gdown